<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Happy Jobs | Home</title>

  <!-- Stylesheets -->
  <link rel="stylesheet" href="{{url_for('static', filename='superio-html/css/bootstrap.css')}}">
  <link rel="stylesheet" href="{{url_for('static', filename='superio-html/css/style.css')}}">
  
  <link rel="shortcut icon" href="{{url_for('static', filename='superio-html/images/favicon.png')}}" type="image/x-icon">
  <link rel="icon" href="{{url_for('static', filename='superio-html/images/favicon.png')}}" type="image/x-icon">

  <!-- Responsive -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
  <!--[if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script><![endif]-->
  <!--[if lt IE 9]><script src="js/respond.js"></script><![endif]-->
</head>

<body data-anm=".anm">

  <div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>

    <!-- Header Span -->
    <span class="header-span"></span>

    <!-- Main Header-->
    <header class="main-header alternate">
      <div class="auto-container">
        <!-- Main box -->
        <div class="main-box">
          <!--Nav Outer -->
          <div class="nav-outer">
            <div class="logo-box">
              <div class="logo"><a href="index.html"><img src="images/logo.svg" alt="" title=""></a></div>
            </div>

            <nav class="nav main-menu">
              <ul class="navigation" id="navbar">
                <li class="current dropdown">
                  <li><a href="/">Home</a></li>
                </li>


                <li class="dropdown">
                  <span>Employers</span>
                  <ul>
                    <li class="dropdown">
                      <span>Employers List</span>
                      <ul>
                        <li><a href="employers-list-v3.html">Employers List</a></li>
                        <li><a href="employers-list-v4.html">Employers List Map</a></li>
                      </ul>
                    </li>

                    <li><a href="dashboard.html">Employers Dashboard</a></li>
                    <li><a href="pricing.html">Packages</a></li>
                  </ul>
                </li>
                <li class="dropdown">
                  <span>Candidates</span>
                  <ul>
                    <li class="dropdown">
                        <li><a href="candidates-list-v5.html">Candidates List</a></li>
                      
                    </li>

                    <li><a href="candidate-dashboard.html">Candidates Dashboard</a></li>
                  </ul>
                </li>
                <li class="dropdown">


                  <span>Test</span>
                  <ul>
                    <li><a href="blog-list-v3.html">Test List</a></li>
                    <li><a href="blog-single.html">Test Single</a></li>
                  </ul>
                </li>
                 
                <li class="current dropdown">
                  <li><a href="about.html">About</a></li>
                </li>

                <li class="current dropdown">
                  <li><a href="contact.html">Contact</a></li>
                </li>

                <!-- Only for Mobile View -->
                <li class="mm-add-listing">
                  <a href="add-listing.html" class="theme-btn btn-style-one">Job Post</a>
                  <span>
                    <span class="contact-info">
                      <span class="phone-num"><span>Call us</span><a href="tel:1234567890">123 456 7890</a></span>
                      <span class="address">329 Queensberry Street, North Melbourne VIC <br>3051, Australia.</span>
                      <a href="mailto:support@superio.com" class="email">support@superio.com</a>
                    </span>
                    <span class="social-links">
                      <a href="#"><span class="fab fa-facebook-f"></span></a>
                      <a href="#"><span class="fab fa-twitter"></span></a>
                      <a href="#"><span class="fab fa-instagram"></span></a>
                      <a href="#"><span class="fab fa-linkedin-in"></span></a>
                    </span>
                  </span>
                </li>
              </ul>
            </nav>
            <!-- Main Menu End-->
          </div>

          <div class="outer-box">
            <!-- Login/Register -->
            <div class="btn-box">
              <a href="login-popup.html" class="theme-btn btn-style-three call-modal">Login / Register</a>
              <a href="dashboard-post-job.html" class="theme-btn btn-style-one"><span class="btn-title">Job Post</span></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile Header -->
      <div class="mobile-header">
        <div class="logo"><a href="index.html"><img src="images/logo.svg" alt="" title=""></a></div>

        <!--Nav Box-->
        <div class="nav-outer clearfix">

          <div class="outer-box">
            <!-- Login/Register -->
            <div class="login-box">
              <a href="login-popup.html" class="call-modal"><span class="icon-user"></span></a>
            </div>

            <a href="#nav-mobile" class="mobile-nav-toggler navbar-trigger"><span class="flaticon-menu-1"></span></a>
          </div>
        </div>
      </div>

      <!-- Mobile Nav -->
      <div id="nav-mobile"></div>
    </header>
    <!--End Main Header -->


    <!-- Banner Section-->
    <section class="banner-section-seven">
      <div class="image-outer">
        <figure class="image"><img src="{{url_for('static', filename='superio-html/images/homepage.jpeg')}}" alt=""></figure>
        
      </div>
      <div class="auto-container">
        <div class="row">
          <div class="content-column col-lg-7 col-md-12 col-sm-12">
            <div class="inner-column">
              <div class="title-box wow fadeInUp" data-wow-delay="500ms">
                <h3> <SPAN STYLE="font-size:45px">Welcome to Happy Jobs <br> Start a new Journey <br></SPAN</h3>
                <div class="text"> <br> Welcome to a new and exciting process, where we bring the 
                  <br> best tools to find the best matches between users and companies. The 
                  <br> experience of searching could be for not easy and this is why Happy 
                  <br> Jobs comes to offer the best match through a whole process of tests, 
                  <br> videos, and the best advisors using internal and external data.</div>
              </div>

                    <!-- Form Group -->
                    <div class="form-group col-lg-3 col-md-12 col-sm-12 btn-box">
                      <button type="submit" class="theme-btn btn-style-one"><span class="btn-title">Register Now</span></button>
                    </div>
                  </div>
                </form>
              </div>

    <!-- Recruiter Section -->
    <section class="recruiter-section">
      <div class="outer-box">
        <div class="image-column">
          <figure class="image"><img src="{{url_for('static', filename='superio-html/images/recruiter.jpeg')}}" alt=""></figure>
        </div>
        <div class="content-column">
          <div class="inner-column wow fadeInUp">
            <div class="sec-title">
              <h2> I am Recruiter</h2>
              <div class= " text"> One of our One of our jobs has some kind of flexibility jobs has some kind of flexibility option such as telecommuting, a part-time schedule or a flexible or flextime.</div>
              <a href="#" class="theme-btn btn-style-one"> Post New Job</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Recruiter Section -->

    <!-- Jobseeker Section -->
    <section class="jobseeker-section">
      <div class="outer-box">
        <div class="image-column">
          <figure class="image"><img src="{{url_for('static', filename='superio-html/images/recruiter.jpeg')}}" alt=""></figure>
        </div>
        <div class="content-column">
          <div class="inner-column wow fadeInUp">
            <div class="sec-title">
              <h2>I am Jobseeker</h2>
              <div class="text">One of our One of our jobs has some kind of flexibility jobs has some kind of flexibility option such as telecommuting, a part-time schedule or a flexible or flextime.</div>
              <a href="#" class="theme-btn btn-style-one">Browse Job</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    

        <!-- Fun Fact Section -->
        <div class="fun-fact-section wow fadeInUp">
          <div class="row">
            <!--Column-->
            <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="4">0</span>M</div>
              <h4 class="counter-title">4 million daily active users</h4>
            </div>

            <!--Column-->
            <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="400ms">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="12">0</span>k</div>
              <h4 class="counter-title">Over 12k open job positions</h4>
            </div>

            <!--Column-->
            <div class="counter-column col-lg-4 col-md-4 col-sm-12 wow fadeInUp" data-wow-delay="800ms">
              <div class="count-box"><span class="count-text" data-speed="3000" data-stop="20">0</span>M</div>
              <h4 class="counter-title">Over 20 million stories shared</h4>
            </div>
          </div>
        </div>
        <!-- Fun Fact Section -->
      </div>
    </section>
    <!-- End About Section -->


    <!-- Top Companies -->
    <section class="top-companies style-three">
      <div class="auto-container">
        <div class="sec-title">
          <h2>Top Company Registered</h2>
          <div class="text">Some of the companies we've helped recruit excellent applicants over the years.</div>
        </div>

        <div class="carousel-outer wow fadeInUp">

          <div class="companies-carousel-two owl-carousel owl-theme default-dots">
            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-1">
                <figure class="image"><img src="{{url_for('static', filename='superio-html/images/googlelogo.png')}}" alt=""></figure>
                <h4 class="name">Google</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-2">
                <figure class="image"><img src="images/resource/company-2.png" alt=""></figure>
                <h4 class="name">Stripe</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-3">
                <figure class="image"><img src="images/resource/company-3.png" alt=""></figure>
                <h4 class="name">Dropbox</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-4">
                <figure class="image"><img src="images/resource/company-4.png" alt=""></figure>
                <h4 class="name">Figma</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-5">
                <figure class="image"><img src="images/resource/company-5.png" alt=""></figure>
                <h4 class="name">Upwork</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-1">
                <figure class="image"><img src="images/resource/company-1.png" alt=""></figure>
                <h4 class="name">Udemy</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-2">
                <figure class="image"><img src="images/resource/company-2.png" alt=""></figure>
                <h4 class="name">Stripe</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-3">
                <figure class="image"><img src="images/resource/company-3.png" alt=""></figure>
                <h4 class="name">Dropbox</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-4">
                <figure class="image"><img src="images/resource/company-4.png" alt=""></figure>
                <h4 class="name">Figma</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-5">
                <figure class="image"><img src="images/resource/company-5.png" alt=""></figure>
                <h4 class="name">Upwork</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-1">
                <figure class="image"><img src="images/resource/company-1.png" alt=""></figure>
                <h4 class="name">Udemy</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-2">
                <figure class="image"><img src="images/resource/company-2.png" alt=""></figure>
                <h4 class="name">Stripe</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-3">
                <figure class="image"><img src="images/resource/company-3.png" alt=""></figure>
                <h4 class="name">Dropbox</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-4">
                <figure class="image"><img src="images/resource/company-4.png" alt=""></figure>
                <h4 class="name">Figma</h4>
              </div>
            </div>

            <!-- Company Block -->
            <div class="company-block">
              <div class="inner-box bg-clr-5">
                <figure class="image"><img src="images/resource/company-5.png" alt=""></figure>
                <h4 class="name">Upwork</h4>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Top Companies -->

    <!-- Testimonial Section Two -->
    <section class="testimonial-section-two style-two">
      <div class="container-fluid">
        <div class="testimonial-left"><img src="images/resource/testimonial-left.png" alt=""></div>
        <div class="testimonial-right"><img src="images/resource/testimonial-right.png" alt=""></div>
        <!-- Sec Title -->
        <div class="sec-title text-center">
          <h2>Testimonials From Our Customers</h2>
          <div class="text">Lorem ipsum dolor sit amet elit, sed do eiusmod tempor</div>
        </div>

        <div class="carousel-outer wow fadeInUp">
          <!-- Testimonial Carousel -->
          <div class="testimonial-carousel owl-carousel owl-theme">

            <!--Testimonial Block -->
            <div class="testimonial-block-two">
              <div class="inner-box">
                <div class="thumb"><img src="{{url_for('static', filename='superio-html/images/luis.png')}}" width= 100px alt=""></div>
                <h4 class="title">Great Assistance!</h4>
                <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
                <div class="info-box">
                  <h4 class="name">Luis Lopez</h4>
                  <span class="designation">Peer Facilitator</span>
                </div>
              </div>
            </div>

            <!--Testimonial Block -->
            <div class="testimonial-block-two">
              <div class="inner-box">
                <div class="thumb"><img src="{{url_for('static', filename='superio-html/images/alvaro.png')}}" alt=""></div>
                <h4 class="title">Great quality!</h4>
                <div class="text">Without JobHunt i’d be homeless, they found me a job and got me sorted out quickly with everything! Can’t quite… The Mitech team works really hard to ensure high level of quality</div>
                <div class="info-box">
                  <h4 class="name">Alvaro Gonzalez</h4>
                  <span class="designation">Warehouse Worker</span>
                </div>
              </div>
            </div>

            <!--Testimonial Block -->
            <div class="testimonial-block-two">
              <div class="inner-box">
                <div class="thumb"><img src="{{url_for('static', filename='superio-html/images/anagarcia.png')}}" alt=""></div>
                <h4 class="title">Great quality!</h4>
                <div class="text">Without HappyJobs i’d be jobless, they found me a job and got me sorted out quickly with everything! The Happy Jobs team works really hard to ensure high level of quality</div>
                <div class="info-box">
                  <h4 class="name">Ana Garcia</h4>
                  <span class="designation">Software Developer</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- End Testimonial Section -->

    <!-- Subscribe Section -->
    <section class="subscribe-section-two">
      <div class="background-image" style="background-image: url(static/superio-html/images/background/5.png);"></div>
      <div class="auto-container wow fadeInUp">
        <div class="sec-title text-center light">
          <h2>Subscribe Our Newsletter</h2>
          <div class="text">Advertise your jobs to millions of monthly users and search 15.8 million<br> CVs in our database.</div>
        </div>

        <div class="subscribe-form">
          <form method="post" action="#">
            <div class="form-group">
              <div class="response"></div>
            </div>
            <div class="form-group">
              <input type="email" name="email" class="email" value="" placeholder="Your e-mail" required>
              <button type="button" id="subscribe-newslatters" class="theme-btn btn-style-one">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </section>
    <!-- End Subscribe Section -->

    <!-- Main Footer -->
    <footer class="main-footer alternate3">
      <div class="auto-container">
        <!--Widgets Section-->
        <div class="widgets-section">
          <div class="row">
            <div class="big-column col-xl-4 col-lg-3 col-md-12">
              <div class="footer-column about-widget">
                <div class="logo"><a href="#"><img src="images/logo.svg" alt=""></a></div>
                <p class="phone-num"><span>Call us </span><a href="thebeehost@support.com">123 456 7890</a></p>
                <p class="address">329 Queensberry Street, North Melbourne VIC<br> 3051, Australia. <br><a href="mailto:support@superio.com" class="email">support@superio.com</a></p>
              </div>
            </div>

            <div class="big-column col-xl-8 col-lg-9 col-md-12">
              <div class="row">
                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">For Candidates</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Browse Jobs</a></li>
                        <li><a href="#">Browse Categories</a></li>
                        <li><a href="#">Candidate Dashboard</a></li>
                        <li><a href="#">Job Alerts</a></li>
                        <li><a href="#">My Bookmarks</a></li>
                      </ul>
                    </div>
                  </div>
                </div>


                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">For Employers</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Browse Candidates</a></li>
                        <li><a href="#">Employer Dashboard</a></li>
                        <li><a href="#">Add Job</a></li>
                        <li><a href="#">Job Packages</a></li>
                      </ul>
                    </div>
                  </div>
                </div>

                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">About Us</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Job Page</a></li>
                        <li><a href="#">Job Page Alternative</a></li>
                        <li><a href="#">Resume Page</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact</a></li>
                      </ul>
                    </div>
                  </div>
                </div>


                <div class="footer-column col-lg-3 col-md-6 col-sm-12">
                  <div class="footer-widget links-widget">
                    <h4 class="widget-title">Helpful Resources</h4>
                    <div class="widget-content">
                      <ul class="list">
                        <li><a href="#">Site Map</a></li>
                        <li><a href="#">Terms of Use</a></li>
                        <li><a href="#">Privacy Center</a></li>
                        <li><a href="#">Security Center</a></li>
                        <li><a href="#">Accessibility Center</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


      <!--Bottom-->
      <div class="footer-bottom">
        <div class="auto-container">
          <div class="outer-box">
            <div class="copyright-text">© 2021 <a href="#">Superio</a>. All Right Reserved.</div>
            <div class="social-links">
              <a href="#"><i class="fab fa-facebook-f"></i></a>
              <a href="#"><i class="fab fa-twitter"></i></a>
              <a href="#"><i class="fab fa-instagram"></i></a>
              <a href="#"><i class="fab fa-linkedin-in"></i></a>
            </div>
          </div>
        </div>
      </div>

      <!-- Scroll To Top -->
      <div class="scroll-to-top scroll-to-target" data-target="html"><span class="fa fa-angle-up"></span></div>
    </footer>
    <!-- End Main Footer -->


  </div><!-- End Page Wrapper -->

  <script src="{{url_for('static', filename='superio-html/js/jquery.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/popper.min.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/chosen.min.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/bootstrap.min.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/jquery.fancybox.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/jquery.modal.min.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/mmenu.polyfills.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/mmenu.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/appear.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/anm.min.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/ScrollMagic.min.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/rellax.min.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/owl.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/wow.js')}}"></script>
  <script src="{{url_for('static', filename='superio-html/js/script.js')}}"></script>

</body>

</html>